[submodule "scripts"]
	path = scripts
	url = git@github.com:eripa/scripts.git
[submodule "z-zsh"]
	path = z-zsh
	url = git://github.com/sjl/z-zsh.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "z-rupa"]
	path = z-rupa
	url = https://github.com/rupa/z
[submodule "additional_dotfiles"]
	path = additional_dotfiles
	url = git://github.com/mathiasbynens/dotfiles.git
